extends layout

block content
  
  h1=title
  p.
    Still working on it but you can try by following
    this template <strong>baseurl/charts/type/name</strong> 
    where <i>type</i> is either tag or artist and name is the name i.e. indie or Coldplay
    <a href="charts/tag/indie"> baseurl/charts/tag/indie</a>
