extends layout

block content
  
  h1=title
  h2 This is really a quick website to be able to access all tags and artists
  h3 Welcome to #{title}
  p.
   I hope you will enjoy the website.
   There are different things here. You have an API under /api. This is really a basic API coded kinda quickly.. Well it's kinda a bonus I guess.  
  p.
   The format is as follow 
   <strong>baseurl/api/:method/:object/:field?/:limit?</strong> where 
   <strong>method</strong>
   is in <i>["rank","get","list"]</i>, 
   <strong>object</strong>
   is in <i>["tag","artist"]</i> field is the field you want to see if there is nothing it will ignore it
   limit is the number of result you want to see
   when you use rank you will need to use -field if you want decreasing.
   If you use <i>get</i> you need to append a name
  code.  
       i.e. <a href="api/rank/tag/-apiSimilarity">baseurl/api/rank/tag/-apiSimilarity</a> will give you the my closest similarities tags with the last.fm api
       i.e. <a href="api/get/tag/electro">baseurl/api/get/tag/electro</a> will give you the electro tag
       i.e. <a href="api/get/artist/Coldplay">baseurl/api/get/artist/Coldplay</a> will give you Coldplay
       i.e. <a href="api/list/tag/name">baseurl/api/list/tag/name</a> will give you all the tags names
       i.e. <a href="api/rank/artist/-listeners/4">baseurl/api/rank/artist/-listeners/4</a> will give you the 4 artist the most listenned to.
  p.
   Ok It's basic but more will come..
   Is That all? Well kinda, I am working on doing some graphs you should see them here when it's done==>> <a href="baseurl/charts">baseurl/charts</a>
   
  
  
    